* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#smoelenTrainer {
  display: none;
}

#instellingenPagina {
  display: none;
}

#geschiedenisPagina {
  display: none;
}

#blindeVlekPagina {
  display: none;
}

#gridContainer {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.gridItem {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.gridItem:hover {
  background-color: lightgray;
}
